

<%= content_tag(:div, "No #{@header} Found.") if @items.empty? %>
<%= link_to(raw("#{content_tag(:i, 'add', class: 'material-icons left')}New #{@header.singularize}"), [:new, @klass.model_name.param_key], class: 'waves-effect waves-light btn') %>

<div class="collection">
  <% @items.each do |i| %>
    <%= link_to(i.admin_display_name, [:edit, i], class: 'collection-item light-blue-text') %>
  <% end %>
</div>

<%= paginate(@items, views_prefix: 'cohesive_admin', theme: 'materialize') %>
