
$theme-background-images: (
  black-thread:       "cohesive_admin/backgrounds/black-thread-light.png",
  cubes:              "cohesive_admin/backgrounds/cubes.png",
  escheresque:        "cohesive_admin/backgrounds/escheresque.png",
  escheresque-dark:   "cohesive_admin/backgrounds/escheresque-dark.png",
  gplay:              "cohesive_admin/backgrounds/gplay.png"
);
