<p>Your password has been reset as you requested. Your new password is:</p>

<p><%= @password %></p>

<p>Please log in to your account and change your password to something more memorable.</p>

<% if @login_url %>
  <p><%= link_to('Log In', @login_url) %></p>
<% end %>
